<!-- ./app/product-list/product-list.component.html-->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div *ngIf = !loading>
  <h4>{{ topBanners.fields.title }}</h4>
  <h4>{{ topBanners.fields.subtitle }}</h4>
</div>

<div class="container">
    <div class="content">
      <div class="col-md-4 placehold_div" *ngFor="let placeholder of placeholders">
        <div class="placehold">
        <i class="{{ placeholder.fields.icon }} place_icon"></i>
        <span class="place_title">{{ placeholder.fields.title }}</span>
        <div class="place_desc">{{ placeholder.fields.description }}</div>
        </div>
      </div>
    </div>
  </div>
  